.cover {
  height: 30em;
  margin-bottom: -6em;
}

.title {
  color: white !important;
  text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.8);
}

.contentBody {
  padding: 3em 5em;

  img {
    width: 100%;
  }
}
